:root {
  --basic-black: #000;
  --basic-white: #fff;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-dark-grey: #283136;
  --basic-grey: #EEEEEE;
}

.page {
  height: 100%;
}

body {
  min-width: 1100px;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */

.main-header {
  padding-top: 50px;
  background-color: var(--basic-grey);
}

.navigation-section {
  display: flex;
  justify-content: space-around;
  color: #000;
}

.logo-link {
  margin-left: -65px;
  padding: 0;
}

.logo-link:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.navigation-list {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  list-style: none;
  width: 437px;
  justify-content: space-around;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  margin-top: 30px;
}

.navigation-list a {
  color: #000;
}

.navigation-list a:hover {
  color: #FB565A;
}

.navigation-list a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.basket {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  color: #000;
  text-transform: uppercase;
}

.basket:hover {
  color: #FB565A;
}

.basket:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.basket-icon {
  margin-right: 25px;
}

/* slider section */

.header-subtitle-text {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.header-slider-section {
  background-image: url("../Nerds/img/nerds-index-slide1.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 760px;
  height: 431px;
}

.header-preview-text {
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

.button-to-learn-more {
  margin-top: 38px;
  padding: 17px 55px 15px 52px;
  background: #FB565A;
  border-radius: 3px; 
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-to-learn-more:hover {
  background: #E74246;
}

.button-to-learn-more:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.button {
  margin-top: 48px;
}
/* main section */

.conteiner {
  width: 1150px;
  margin: 0 auto;
}

/* benefits section */

.benefits-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 80px 0 155px 0;

}

.subtitle-benefits {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.benefits-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

.button-benefist__red {
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button-benefist__red:hover {
  background: #E74246;
}

.button-benefist__red:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-benefist__green {
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
  border-radius: 3px;
}

.button-benefist__green:hover {
  background: #00BC6C;
}

.button-benefist__green:active {
  background: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-benefist__yellow {
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-yellow);
  border: none;
  border-radius: 3px;
}

.button-benefist__yellow:hover {
  background: #EAB534;
}

.button-benefist__yellow:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* about company */

.about-company-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.subtitle-about-company-text {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.tagline-about-company-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

.subtitle-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}

.subtitle-text-item {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-grey);
  margin-top: 35px;
}

.about-company-list {
  list-style: none;
  padding: 0;
}

.element-item {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  color: var(--basic-red);
  border: none;
}

.element-item-text {
  margin-left: 40px;
}

.features-about-company-list {
  display: flex;
}

.features-about-company-item {
  display: grid;
}

.interest {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-right: 42px;
}

.interest-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

hr.solid-1 {
  margin-top: -40px;
  margin-bottom: 73px;
  border-top: 2px solid  #EEEEEE;
}

hr.solid-2 {
  margin-top: 73px;
  margin-bottom: 73px;
  border-top: 2px solid  #EEEEEE;
}

/* Our projects */ 

.our-projects-list {
  display: flex;
  list-style: none;
}

.our-projects-list li {
  position: relative;
  margin-right: 100px;
}

.our-projects-list li:last-child {
  margin-right: 0;
}

.our-projects-list-current::after {
  display: none;
}


.our-projects-list li::after {
  content:"";
  position: absolute;
  left: 235px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
}

hr.solid-3 {
  margin-top: 50px;
  margin-bottom: 80px;
  border-top: 2px solid  #EEEEEE;
}

.logo-projects {
  opacity: 0.2;
}

.logo-projects:hover {
  opacity: 1;
}

.logo-projects:active {
  opacity: 0.1;
}

/* footer section */

.footer-map {
  background-image: url("../Nerds/img/map.png");
  height: 416px;
  width: 1440px;
}

/* footer contacts */

.address-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 140px;
  width: 1150px;
}

.contacts {
  margin-top: 54px;
  margin-right: 363px;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
}

.footer-dot-map-nerds {
  margin-top: 86px;
}

.footer-title-contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 49px 73px 23px 50px;
}

.contacts-adrress {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0 39px 0 50px;
}

.contacts-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-left: 50px;
  margin-bottom: 40px;
}

.phone {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.button-contacts {
  font-style: normal;
  padding: 17px 44px 15px 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  margin-left: 50px;
}

/* social networks */
.social-networks-section {
  display: flex;
  height: 217px;
}

.social-networks-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  list-style: none;
  margin-right: 139px;
  margin-top: 70px;
  border-radius: 20px;
}

.social-networks-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border-radius: 50%;
}

.social-networks-button:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-networks-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-networks-text {
  margin-top: 75px;
}

.social-networks-text-titele {
  margin: 0 0 0 0;
  padding: 0;
}


/* PAGE CATALOG */


/* header */

.header-title-section {
  text-align: center;
}

.main-page-title-catalog {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 108px;
}

/* main content */

.filter-gellary {
  display: flex;
}

.filter-gellary p {
  margin-right: 25px;
}

.filter-text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 43px;
  margin-top: 7px;
}

.filter-text-price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-text-type {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  margin-bottom: 48px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  column-gap: 140px;
}

.list-templates-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 32px;
}

.img {
  margin-top: -4px;
  padding: 0;
}

/* filter */

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 30px;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter ul {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  margin-top: 5px;
  margin-left: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-grey);
}

.filter-radiobox {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../Nerds/img/sheckbox-off.svg");
  opacity: 0.4;
  border-radius: 3px;
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 25px;
  height: 23px;
  background-image: url("../Nerds/img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url("../Nerds/img/radio-off.svg");
  opacity: 0.4;
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: 5px;
  width: 25px;
  height: 23px;
  background-image: url("../Nerds/img/Oval.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}
